body{
    background-color : #e9efc0 ;
}
header{
     background-color: #59ac77;
     text-align : center;
     width:500px;
     padding:20px;
     margin-left:400px;
     margin-top:100px;
     border-radius:8px;
     line-height:1.6;
     color:dark;
     font-family:courier,monospace;
     text-shadow:1px 1px ;

}
img{border-radius:50%;
    background-color:darkgreen;
    margin-left:40px;
    margin-top:50px;
    margin-bottom:30px;
    border:2px solid #ddd;
    padding:2.5px;
    box-shadow:2px 2px 1px 0px;

    }
    img:hover{transform:scale(1.4);}
.ax{max-width:900px;
    margin:0 auto;
    line-height:1.3;
    font-size:140%;
    font-family:verdana;
    text-align:center;
    color:#4e944f;}

.o{margin-left:460px;
margin-top:100px;
    font-size:170%;
    line-height:1.2;
   color:#4e944f;
   font-family:verdana;
   text-shadow:2px 2px;}

.u{margin-left:560px;
    margin-top:30px;
    line-height:1.2;
   font-size:150%;
   color:#4e944f;
   font-family:verdana;}
a{color:blue;
  text-decoration:none;
  transition :color 0.3s ease;}
  a:hover{color:red;
  text-decoration:underline;
  font-family:cursive;}
